Technical-skills/git-github/Context_Transfers/
Technical-skills/artificial-intelligence/Context_Transfers/

# Ignore folders not currently part of the repository

Assets/
docs/
Engineering/
Finance/
Mathematics/Mathematics_Books/
Mathematics/Context_Transfers/
Snippets/
University/
School/
Technical-skills/robotics/
Journal/

# Python cache files
__pycache__/
*.pyc
*.pyo